{% extends 'main.html' %} {% load static %} {% block title %}
<title>Services - Brand</title>
{% endblock title %} {% block content %}
<section class="py-5" style="background: rgb(300, 200, 50)">
  <div class="container py-5" style="width: 1600px; max-width: 1800px">
    
    {% for cart in carts %}
      <div>
        <div>{{cart.order.id}} - {{cart.order.status}}</div>
        <div>{{cart.product.pro_name}}</div>
        <div>${cart.order.total}}</div>
        <div>Quantity: {{cart.quantity}}</div>
      </div>
    {% endfor %}
      
  </div>
</section>
{% endblock content %}
