{% extends 'main.html' %} {% load static %} {% block title %}
<title>Home - Brand</title>
{% endblock title %} {% block content %}
<header class="bg-dark" style="background: rgb(300, 150, 50)">
  <div
    class="row pt-5"
    style="
      background: rgb(300, 200, 50);
      padding: 0px;
      padding-top: 0px;
      margin: 0px;
      margin-right: 0px;
      padding-left: 0px;
    "
  >
    <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
      <div class="text-center">
        <p class="fw-bold text-success mb-2">Free Shipping</p>
        <h1 class="fw-bold">Happy Sale, Happy Shopping!</h1>
      </div>
    </div>
    <div
      class="col-12 col-lg-10 mx-auto"
      style="background: rgb(300, 300, 300); width: 1524px"
    >
      <div
        class="text-start position-relative"
        style="
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;
          width: 1500px;
        "
      >
        <div
          class="row"
          style="width: 1500px; margin-right: 0px; margin-left: 0px"
        >
          <div
            class="col mb-5"
            style="
              background: rgb(200, 200, 200);
              padding: 0px;
              padding-top: 1px;
              padding-bottom: 1px;
              padding-right: 1px;
              padding-left: 1px;
            "
          >
            <div class="card shadow-sm" style="background: rgb(300, 300, 300)">
              <div
                class="card-body text-center px-4 py-5 px-md-5"
                style="padding-left: 0px; padding-right: 0px"
              >
                <img
                  src="{% static 'img/box.png' %}"
                  width="100"
                  height="100"
                />
                <h5
                  class="fw-bold text-start card-title"
                  style="color: rgb(0, 0, 0)"
                >
                  #Name of product
                </h5>
                <span class="badge bg-primary mb-2">Description</span>
                <p
                  class="text-start card-text mb-4"
                  style="
                    color: rgb(350, 200, 0);
                    --bs-warning: #ffc107;
                    --bs-warning-rgb: 255, 193, 7;
                  "
                >
                  # Product Price
                </p>
                <button class="btn btn-primary shadow" type="button">
                  Add to Cart
                </button>
              </div>
            </div>
            <div class="card shadow-sm" style="background: rgb(300, 300, 300)">
              <div
                class="card-body text-center px-4 py-5 px-md-5"
                style="padding-left: 0px; padding-right: 0px"
              >
                <img
                  src="{% static 'img/box.png' %}"
                  width="100"
                  height="100"
                />
                <h5
                  class="fw-bold text-start card-title"
                  style="color: rgb(0, 0, 0)"
                >
                  #Name of product
                </h5>
                <span class="badge bg-primary mb-2">Description</span>
                <p
                  class="text-start card-text mb-4"
                  style="
                    color: rgb(350, 200, 0);
                    --bs-warning: #ffc107;
                    --bs-warning-rgb: 255, 193, 7;
                  "
                >
                  # Product Price
                </p>
                <button class="btn btn-primary shadow" type="button">
                  Add to Cart
                </button>
              </div>
            </div>
          </div>
          <div
            class="col mb-5"
            style="background: rgb(200, 200, 200); padding: 0px"
          >
            <div class="card shadow-sm" style="background: rgb(300, 300, 300)">
              <div
                class="card-body text-center px-4 py-5 px-md-5"
                style="padding-left: 0px; padding-right: 0px"
              >
                <img
                  src="{% static 'img/box.png' %}"
                  width="100"
                  height="100"
                />
                <h5
                  class="fw-bold text-start card-title"
                  style="color: rgb(0, 0, 0)"
                >
                  #Name of product
                </h5>
                <span class="badge bg-primary mb-2">Description</span>
                <p
                  class="text-start card-text mb-4"
                  style="
                    color: rgb(350, 200, 0);
                    --bs-warning: #ffc107;
                    --bs-warning-rgb: 255, 193, 7;
                  "
                >
                  # Product Price
                </p>
                <button class="btn btn-primary shadow" type="button">
                  Add to Cart
                </button>
              </div>
            </div>
            <div class="card shadow-sm" style="background: rgb(300, 300, 300)">
              <div
                class="card-body text-center px-4 py-5 px-md-5"
                style="padding-left: 0px; padding-right: 0px"
              >
                <img
                  src="{% static 'img/box.png' %}"
                  width="100"
                  height="100"
                />
                <h5
                  class="fw-bold text-start card-title"
                  style="color: rgb(0, 0, 0)"
                >
                  #Name of product
                </h5>
                <span class="badge bg-primary mb-2">Description</span>
                <p
                  class="text-start card-text mb-4"
                  style="
                    color: rgb(350, 200, 0);
                    --bs-warning: #ffc107;
                    --bs-warning-rgb: 255, 193, 7;
                  "
                >
                  # Product Price
                </p>
                <button class="btn btn-primary shadow" type="button">
                  Add to Cart
                </button>
              </div>
            </div>
          </div>
          <div
            class="col mb-5"
            style="background: rgb(200, 200, 200); padding: 0px"
          >
            <div class="card shadow-sm" style="background: rgb(300, 300, 300)">
              <div
                class="card-body text-center px-4 py-5 px-md-5"
                style="padding-left: 0px; padding-right: 0px"
              >
                <img
                  src="{% static 'img/box.png' %}"
                  width="100"
                  height="100"
                />
                <h5
                  class="fw-bold text-start card-title"
                  style="color: rgb(0, 0, 0)"
                >
                  #Name of product
                </h5>
                <span class="badge bg-primary mb-2">Description</span>
                <p
                  class="text-start card-text mb-4"
                  style="
                    color: rgb(350, 200, 0);
                    --bs-warning: #ffc107;
                    --bs-warning-rgb: 255, 193, 7;
                  "
                >
                  # Product Price
                </p>
                <button class="btn btn-primary shadow" type="button">
                  Add to Cart
                </button>
              </div>
            </div>
            <div class="card shadow-sm" style="background: rgb(300, 300, 300)">
              <div
                class="card-body text-center px-4 py-5 px-md-5"
                style="padding-left: 0px; padding-right: 0px"
              >
                <img
                  src="{% static 'img/box.png' %}"
                  width="100"
                  height="100"
                />
                <h5
                  class="fw-bold text-start card-title"
                  style="color: rgb(0, 0, 0)"
                >
                  #Name of product
                </h5>
                <span class="badge bg-primary mb-2">Description</span>
                <p
                  class="text-start card-text mb-4"
                  style="
                    color: rgb(350, 200, 0);
                    --bs-warning: #ffc107;
                    --bs-warning-rgb: 255, 193, 7;
                  "
                >
                  # Product Price
                </p>
                <button class="btn btn-primary shadow" type="button">
                  Add to Cart
                </button>
              </div>
            </div>
          </div>
          <div
            class="col mb-5"
            style="background: rgb(200, 200, 200); padding: 0px"
          >
            <div class="card shadow-sm" style="background: rgb(300, 300, 300)">
              <div
                class="card-body text-center px-4 py-5 px-md-5"
                style="padding-left: 0px; padding-right: 0px"
              >
                <img
                  src="{% static 'img/box.png' %}"
                  width="100"
                  height="100"
                />
                <h5
                  class="fw-bold text-start card-title"
                  style="color: rgb(0, 0, 0)"
                >
                  #Name of product
                </h5>
                <span class="badge bg-primary mb-2">Description</span>
                <p
                  class="text-start card-text mb-4"
                  style="
                    color: rgb(350, 200, 0);
                    --bs-warning: #ffc107;
                    --bs-warning-rgb: 255, 193, 7;
                  "
                >
                  # Product Price
                </p>
                <button class="btn btn-primary shadow" type="button">
                  Add to Cart
                </button>
              </div>
            </div>
            <div class="card shadow-sm" style="background: rgb(300, 300, 300)">
              <div
                class="card-body text-center px-4 py-5 px-md-5"
                style="padding-left: 0px; padding-right: 0px"
              >
                <img
                  src="{% static 'img/box.png' %}"
                  width="100"
                  height="100"
                />
                <h5
                  class="fw-bold text-start card-title"
                  style="color: rgb(0, 0, 0)"
                >
                  #Name of product
                </h5>
                <span class="badge bg-primary mb-2">Description</span>
                <p
                  class="text-start card-text mb-4"
                  style="
                    color: rgb(350, 200, 0);
                    --bs-warning: #ffc107;
                    --bs-warning-rgb: 255, 193, 7;
                  "
                >
                  # Product Price
                </p>
                <button class="btn btn-primary shadow" type="button">
                  Add to Cart
                </button>
              </div>
            </div>
          </div>
          <div
            class="col mb-5"
            style="background: rgb(200, 200, 200); padding: 0px"
          >
            <div class="card shadow-sm" style="background: rgb(300, 300, 300)">
              <div
                class="card-body text-center px-4 py-5 px-md-5"
                style="padding-left: 0px; padding-right: 0px"
              >
                <img
                  src="{% static 'img/box.png' %}"
                  width="100"
                  height="100"
                />
                <h5
                  class="fw-bold text-start card-title"
                  style="color: rgb(0, 0, 0)"
                >
                  #Name of product
                </h5>
                <span class="badge bg-primary mb-2">Description</span>
                <p
                  class="text-start card-text mb-4"
                  style="
                    color: rgb(350, 200, 0);
                    --bs-warning: #ffc107;
                    --bs-warning-rgb: 255, 193, 7;
                  "
                >
                  # Product Price
                </p>
                <button class="btn btn-primary shadow" type="button">
                  Add to Cart
                </button>
              </div>
            </div>
            <div class="card shadow-sm" style="background: rgb(300, 300, 300)">
              <div
                class="card-body text-center px-4 py-5 px-md-5"
                style="padding-left: 0px; padding-right: 0px"
              >
                <img
                  src="{% static 'img/box.png' %}"
                  width="100"
                  height="100"
                />
                <h5
                  class="fw-bold text-start card-title"
                  style="color: rgb(0, 0, 0)"
                >
                  #Name of product
                </h5>
                <span class="badge bg-primary mb-2">Description</span>
                <p
                  class="text-start card-text mb-4"
                  style="
                    color: rgb(350, 200, 0);
                    --bs-warning: #ffc107;
                    --bs-warning-rgb: 255, 193, 7;
                  "
                >
                  # Product Price
                </p>
                <button class="btn btn-primary shadow" type="button">
                  Add to Cart
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</header>
<section></section>
<section></section>
{% endblock content %}