{% extends 'main.html' %} {% load static %} {% block title %}
<title>Shop - Brand</title>
{% endblock title %} {% block content %}
<header class="bg-dark" style="background: rgb(300, 150, 50)">
  <div
    class="row pt-5"
    style="
      background: rgb(300, 200, 50);
      padding: 0px;
      padding-top: 0px;
      margin: 0px;
      margin-right: 0px;
      padding-left: 0px;
    "
  >
    <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
      <div class="text-center">
        <p class="fw-bold text-success mb-2">Free Shipping</p>
        <h1 class="fw-bold">Happy Sale, Happy Shopping!</h1>
      </div>
    </div>
    
  </div>
</header>
<section class="bg-light h-100">
  <div class="content bg-light">
      
      {% for item in shops %}
          <div class="text-bg-light p-3">
            <img src="{% static 'img/box.png' %}" width="100" height="100" />
            <div class="card-body">
                <h3>{{item.shop_name}}</h3>
                <h4>{{item.shop_description}}</h4>
                <p>{{item.shop_RAING}}</p>
            </div>
          </div>
      {% endfor %}
        
    </div>
</section>
<section></section>
{% endblock content %}